.mainPage {
    .sortButton {
        margin-left: 15px;
        margin-bottom: 20px;
        margin-top: 10px;

        display: flex;
        align-items: center;

        p {
            color: var(--text);
            margin-right: 5px;
        }
    }
    .wrapp {
        display: flex;
        flex-wrap: wrap;
        max-width: 80vw;
    
        gap: 10px;
        padding-left: 10px;
    }
}

.loading, .error, .noResults {
    max-width: 80vw;

    color: var(--activeColor);
    font-size: 22px;
    margin: 20px;
}