.mainPage {
    display: flex;
    flex-wrap: wrap;
    max-width: 80vw;

    gap: 10px;
    padding-left: 10px;
}

.loading, .error, .noResults {
    max-width: 80vw;

    color: var(--activeColor);
    font-size: 22px;
    margin: 20px;
}