:root {
    #dark {
        --background: #0f0f0f;
        --ui: #141414;
        --menu: #141414;
        --activeColor: #c084d3;
        --overlay: #00000066;

        --buttonText: #b8b8b8;
        --buttonTextImportant: #c084d3;
        --buttonBg: #0a0a0a;
        --buttonHover: #000000;
        --hoverText: #a96cbb;

        --transperentText: #6b6b6b;
        --lightText: #d9d9d9;
        --text: #e0e0e0;
        --textFocus: #e7e7e7;
        --defaultText: #d9d9d9;
        --titleText: #cecece;

        --borderSettings: #181818;
        --borderDefault: #0e0e0e;
        --borderChat: #161616;
        --menuBorder: #ffffff18;

        --sliderRande: #444444;
        --hover: #939393;
        --settingsText: #b8b8b8;
        --iconsText: #b8b8b8;

        --chatLeftMessage: #241e2a;
        --chatRightMessage: #805dab;
        --chatText: #e1e1e1;
    }
}