:root {
    #default {
        --background: #f3f3f3;
        --ui: #e9e9e9;
        --menu: #59546d;
        --activeColor: #4ee2a5;
        --overlay: #00000066;

        --buttonText: #dbdbdb;
        --buttonTextImportant: #ededed;
        --buttonBg: #4ee2a5;
        --buttonHover: #79e1b6;
        --hoverText: #e5e5e5;

        --transperentText: #6b6b6b;
        --lightText: #d9d9d9;
        --text: #dbdbdb;
        --textFocus: #1a1a1a;
        --defaultText: #272727;
        --titleText: #353535;

        --borderSettings: #e5e5e5;
        --borderDefault: #e9e9e9;
        --borderChat: #e9e9e9;
        --menuBorder: #f4f5f7;

        --sliderRande: #444444;
        --hover: #939393;
        --settingsText: #656464;
        --iconsText: #353535;

        --chatLeftMessage: #2d2d2d;
        --chatRightMessage: #4ee2a5;
        --chatText: #454545;
    }
}