@import url('./normalize.scss');

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto.ttf);
}

@import url('./darkTheme.scss');
@import url('./templates/card.scss');
@import url('./pages/mainPage.scss');

html {
  #app {
    font-family: 'Roboto', 'Times New Roman';
    background: var(--background);
  }
}
