@import url('./normalize.scss');

@font-face {
  font-family: Roboto;
  src: url(./fonts/Roboto/Roboto.ttf);
}

@import url('./darkTheme.scss');
@import url('./templates/card.scss');
@import url('./pages/mainPage.scss');
@import url('./templates/header.scss');
@import url('./ui/controlPanel.scss');
@import url('./ui/pagination.scss');

#app {
  font-family: 'Roboto', 'Times New Roman';
  background: var(--background);
  padding-top: 80px;

  width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--lightText);
  border-radius: 100px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 100px;
  background-image: linear-gradient(180deg, var(--activeColor) 0%, var(--hoverText) 99%);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}